/* Buttons */
.btn {
    display: inline-block;
    padding: .5em 2.5em;
    background: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw--bold);
    transition: all 300ms ease-in-out;
}

.btn:hover {
    border-radius: 20px;
    background: var(--clr-accent);
    transform: scale(1.1);
}