/* Header */

header {
    background: transparent;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    padding: 1em;
}

.logo {
    z-index: 100;
    pointer-events: none;
}

.logo img {
    max-height: 15px;
}

.nav {
    position: fixed;
    background: var(--clr-dark-transparent);
    backdrop-filter: blur(12px);
    border-radius: 0px;
    color: var(--clr-light);
    box-shadow: 0em 0em 0.75em rgba(0, 0, 0, 0),
                0em 0em 0.25em rgba(0, 0, 0, 0);
                top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100;
    
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

@media (min-width: 700px) {
    .nav {
        left: max(50%, calc(100% - 800px));
        max-width: 800px;
        border-radius: 20px 0px 0px 20px;
    }
}

.nav__list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav__link {
    color: inherit;
    font-weight: var(--fw--bold);
    font-size: var(--fs-h2);
    text-decoration: none;
    transition: .5s;
}

.nav__link:hover {
    color: var(--clr-accent);
}

/* Line bellow nav links on hover */
.nav__link::after {
    content: '';
    width: 0%;
    height: 2px;
    background: var(--clr-accent);
    display: block;
    margin: auto;
    margin-top: 2px;
    transition: 0.3s;
}

.nav__link:hover::after {
    width: 100%;
}
/* End line hover */

.nav-toggle {
    padding: 1.1em .5em;
    background: var(--clr-dark);
    border: 0;
    cursor: pointer;
    position: fixed;
    right: 2em;
    top: 0.5em;
    z-index: 1000;
}

.nav-open .nav {
    transform: translateX(0%);
    box-shadow: -0.25em 0em 0.75em rgba(0, 0, 0, .5),
                -0.125em 0em 0.25em rgba(0, 0, 0, .25);
}

.nav-open .nav-toggle {
    position: fixed;
}

.nav-open .hamburger {
    transform: rotate(0.625turn);
}

.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
    opacity: 0;
}

.hamburger {
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: var(--clr-accent);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before { top: 6px; }
.hamburger::after { bottom: 6px; }