*,
*::before,
*::after {
    box-sizing: border-box;
}

header,
section {
    max-width: 100%;
}

/* Custom properties */

:root {
    /* Font families */
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    /* Font weights */
    --fw-reg: 300;
    --fw--bold: 900;

    /* Colors */
    --clr-light: #efe0e4;
    --clr-light-transparent: #efe0e43d;
    --clr-dark: #2a2627;
    --clr-dark-transparent: #2a2627bb;
    --clr-darker: #141213;
    --clr-accent: #DA0037;
    --clr-accent-transparent: #DA00378e;

    /* Font sizes */
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.25rem;

    /* Box shadow */
    --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, .5),
          0.125em 0.125em 0.25em rgba(0, 0, 0, .25);
}

@media (min-width: 900px) {
    /* Redefining some custom properties for bigger screen sizes */
    :root {
        /* Font sizes */
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --f2-h3: 1.75rem;
        --fs-body: 1.25rem;
    }
}

/* General styles */

html {
    scroll-behavior: smooth;
    max-width: 100%;
    overflow-x: hidden;

    background-color: var(--clr-darker);
}

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
    max-width: 100%;
    overflow: hidden;
}

.stop-scrolling {
    overflow: hidden;
}

section {
    padding: 5em 2em;
}

img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

strong { font-weight: var(--fw--bold); }

:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}