*,
*::before,
*::after {
    box-sizing: border-box;
}

header,
section {
    max-width: 100%;
}

/* Custom properties */

:root {
    /* Font families */
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    /* Font weights */
    --fw-reg: 300;
    --fw--bold: 900;

    /* Colors */
    --clr-light: #efe0e4;
    --clr-light-transparent: #efe0e43d;
    --clr-dark: #2a2627;
    --clr-dark-transparent: #2a2627bb;
    --clr-darker: #141213;
    --clr-accent: #DA0037;
    --clr-accent-transparent: #DA00378e;

    /* Font sizes */
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.25rem;

    /* Box shadow */
    --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, .5),
          0.125em 0.125em 0.25em rgba(0, 0, 0, .25);
}

@media (min-width: 900px) {
    /* Redefining some custom properties for bigger screen sizes */
    :root {
        /* Font sizes */
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --f2-h3: 1.75rem;
        --fs-body: 1.25rem;
    }
}

/* General styles */

html {
    scroll-behavior: smooth;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
    max-width: 100%;
    overflow: hidden;
}

.stop-scrolling {
    overflow: hidden;
}

section {
    padding: 5em 2em;
}

img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

strong { font-weight: var(--fw--bold); }

:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}

/* Slide in and out animations */

.hidden {
    transform: translateX(-100%);
    opacity: 0;
    transition: all 1s;
}

.service:nth-child(2) {
    transition-delay: 200ms;
}

.service:nth-child(3) {
    transition-delay: 400ms;
}

.service:nth-child(4) {
    transition-delay: 600ms;
}

.social-list__item:nth-child(2) {
    transition-delay: 200ms;
}

.social-list__item:nth-child(3) {
    transition-delay: 400ms;
}

.social-list__item:nth-child(4) {
    transition-delay: 600ms;
}

.show {
    transform: translateX(0);
    opacity: 1;
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

/* Buttons */

.btn {
    display: inline-block;
    padding: .5em 2.5em;
    background: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw--bold);
    transition: all 300ms ease-in-out;
}

.btn:hover {
    border-radius: 20px;
    background: var(--clr-accent);
    transform: scale(1.1);
}

/* Typography */

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 { font-size: var(--fs-h1); }
h2 { font-size: var(--fs-h2); }
h3 { font-size: var(--fs-h3); }

.section__title {
    margin-bottom: .25em;
}

.section__title--intro {
    color: var(--clr-light);
    font-weight: var(--fw-reg);
}

.section__title--intro strong {
    display: block;
}

.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about {
    background: var(--clr-accent);
    padding: .25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
}

.section__subtitle--work {
    color: var(--clr-accent);
    font-weight: var(--fw--bold);
    margin-bottom: 2em;
}

/* Logo animation */

.logos-animation {
    position: absolute;
    width: 150vw;
    max-width: 100%;
    height: 1900px;
    background: var(--clr-darker);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    user-select: none;

    transform: translateY(-800px);
}

@media (min-width: 900px) {
    .logos-animation {
        height: 1350px;
    }
}

.logos-animation .row {
    position: relative;
    width: 100%;
    display: flex;
    padding: 0 .5em;
    white-space: nowrap;
    font-size: 64px;
    user-select: none;

    transform: rotate(-30deg);
}

.logos-animation .row .column i {
    color: rgba(255, 255, 255, 0.05);
    padding: 0 5px;
    user-select: none;
    cursor: default;
    transition: 1s;
}

.logos-animation .row .column i:hover {
    transition: 0s;
    color: var(--clr-accent);
    text-shadow: 0 0 120px var(--clr-accent);
}

.logos-animation .row .column {
    animation: animate1 200s linear infinite;
    animation-delay: -200s;
}

.logos-animation .row .column:nth-child(2) {
    animation: animate2 200s linear infinite;
    animation-delay: -100s;
}

.logos-animation .row:nth-child(even) .column {
    animation: animate3 200s linear infinite;
    animation-delay: -200s;
}

.logos-animation .row:nth-child(even) .column:nth-child(2) {
    animation: animate4 200s linear infinite;
    animation-delay: -100s;
}

@keyframes animate1 {
    0% {
        transform: translateX(50%);
    }
    100% {
        transform: translateX(-150%);
    }
}

@keyframes animate2 {
    0% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(-250%);
    }
}

@keyframes animate3 {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

@keyframes animate4 {
    0% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(0%);
    }
}

/* Header */

header {
    background: transparent;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    padding: 1em;
}

.logo {
    z-index: 100;
    pointer-events: none;
}

.logo img {
    max-height: 15px;
}

.nav {
    position: fixed;
    background: var(--clr-dark-transparent);
    backdrop-filter: blur(12px);
    border-radius: 0px;
    color: var(--clr-light);
    box-shadow: 0em 0em 0.75em rgba(0, 0, 0, 0),
                0em 0em 0.25em rgba(0, 0, 0, 0);
                top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100;
    
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

@media (min-width: 700px) {
    .nav {
        left: max(50%, calc(100% - 800px));
        max-width: 800px;
        border-radius: 20px 0px 0px 20px;
    }
}

.nav__list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav__link {
    color: inherit;
    font-weight: var(--fw--bold);
    font-size: var(--fs-h2);
    text-decoration: none;
    transition: .5s;
}

.nav__link:hover {
    color: var(--clr-accent);
}

/* Line bellow nav links on hover */
.nav__link::after {
    content: '';
    width: 0%;
    height: 2px;
    background: var(--clr-accent);
    display: block;
    margin: auto;
    margin-top: 2px;
    transition: 0.3s;
}

.nav__link:hover::after {
    width: 100%;
}
/* End line hover */

.nav-toggle {
    padding: 1.1em .5em;
    background: var(--clr-dark);
    border: 0;
    cursor: pointer;
    position: fixed;
    right: 2em;
    top: 0.5em;
    z-index: 1000;
}

.nav-open .nav {
    transform: translateX(0%);
    box-shadow: -0.25em 0em 0.75em rgba(0, 0, 0, .5),
                -0.125em 0em 0.25em rgba(0, 0, 0, .25);
}

.nav-open .nav-toggle {
    position: fixed;
}

.nav-open .hamburger {
    transform: rotate(0.625turn);
}

.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
    opacity: 0;
}

.hamburger {
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: var(--clr-accent);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before { top: 6px; }
.hamburger::after { bottom: 6px; }

/* Intro section */

.intro {
    width: 100%;
    position: relative;
    pointer-events: none;
}

.intro__img {
    background-color: var(--clr-light-transparent);
    box-shadow: var(--bs);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    bottom: 1em;
}

.section__subtitle--intro {
    display: inline-block;
}

@media (min-width: 700px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        column-gap: 1em;
        grid-template-areas: 
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }

    .intro__img {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }

    .section__subtitle--intro {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }
}

/* My services section */

.my-services {
    background-color: var(--clr-dark-transparent);
    background-image: url(../img/services-bg.jpg);
    backdrop-filter: blur(10px);
    background-size: cover;
    color: var(--clr-light);
    text-align: center;
}

/* Add a div for blur effect on background of section */
.my-services::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--clr-dark-transparent);
    backdrop-filter: blur(10px);
}

.section__title--services {
    color: var(--clr-light);
    text-shadow: var(--bs);
    position: relative;
}

.section__title--services::after {
    content: '';
    display: block;
    width: 2em;
    height: 2px;
    margin: 0.5em auto 1em;
    background-color: var(--clr-accent);
}

.services {
    margin-bottom: 4em;
}

.service {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

@media (min-width: 800px) {
    .services {
        display: flex;
        max-width: 60vw;
        margin-left: auto;
        margin-right: auto;
    }

    .service + .service {
        margin-left: 2em;
    }
}

/* About me section */

.about-me {
    background-color: var(--clr-accent);
    background-size: cover;
    backdrop-filter: blur(15px);
    color: var(--clr-light);
}

/* Add a div for blur effect on background of section */
.about-me::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--clr-dark-transparent);
    backdrop-filter: blur(15px);
}

.about-me__contents {
    max-width: 60vw;
    margin: 0 auto;
}

.section__subtitle--about {
    color: var(--clr-light);
    background: var(--clr-dark);
    display: inline-block;
}

.about-me__img {
    box-shadow: var(--bs);
    padding: .5em;
    border-radius: 20px;
    background-color: var(--clr-light-transparent);
    backdrop-filter: blur(6px);
}

/* @media (min-width: 600px) {
    .about-me__contents {
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas: 
            "title img"
            "subtitle img"
            "text img";
        column-gap: 2em;
    }

    .section__title--about {
        grid-area: title;
    }

    .section__subtitle--about {
        grid-column: 1 / -1;
        grid-row: 2;
        position: relative;
        left: -2em;
        width: calc(100% + 4em);
        padding-left: 2em;
        padding-right: calc(200px + 4em);
    }

    .about-me__img {
        grid-area: img;
        position: relative;
        top: 2em;
        z-index: 2;
    }
} */

/* My work section */

.my-work {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    text-align: center;
}

.portfolio {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1em;
    margin: 0 auto;
}

.portfolio__item {
    background-color: var(--clr-light);
    overflow: hidden;
    transition: all 750ms;
    cursor: pointer;
}

.portfolio__img {
    min-width: 100%;
    transition: 
    all 750ms cubic-bezier(.5, 0, .5, 1),
    opacity 250ms linear;
}

.portfolio__content-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    
    transform: translateX(-100%);
    opacity: 0;
    transition: all 750ms;
}

.portfolio__project-title,
.portfolio__project-description,
.portfolio__project-cta {
    margin: 2em;
    color: var(--clr-dark);
}

.portfolio__project-description {
    text-align: left;
}

.portfolio__project-cta {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: .5em 0;
    border-radius: 20px;
    background: var(--clr-dark);
    color: var(--clr-accent);
}

.portfolio__item:focus,
.portfolio__item:hover {
    border-radius: 30px;
}

.portfolio__item:focus {
    position: relative;
    z-index: 2;
}

.portfolio__item:hover .portfolio__img,
.portfolio__item:focus .portfolio__img {
    filter: blur(10px);
    transform: scale(1.2);
    opacity: .25;
}

.portfolio__item:hover .portfolio__content-container,
.portfolio__item:focus .portfolio__content-container {
    transform: translateX(0);
    opacity: 1;
}

@media (hover: none) {
    .portfolio__item {
        border-radius: 30px;
    }

    .portfolio__item {
        position: relative;
        z-index: 2;
    }

    .portfolio__item .portfolio__img {
        filter: blur(8px);
        transform: scale(1.2);
        opacity: .25;
    }

    .portfolio__item .portfolio__content-container {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Footer */

.footer {
    background: #111;
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5em 0;
}

.footer a { 
    color: inherit;
    text-decoration: none;
    font-size: var(--fs-h3);
}

.footer__link {
    font-weight: var(--fw--bold);
}

.footer__link:hover,
.social-list__link:hover {
    opacity: .7;
}

.footer__link:hover {
    text-decoration: underline;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 1em 0 0;
    padding: 0;
}

.social-list__item {
    margin: 0 .5em;
}

.social-list__link {
    padding: .5em;
}

.footer__copyright {
    margin-bottom: 0;
}

/* Modal pages for projects */

.portfolio-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000;

    transform: translateX(-120%);
    transition: all 1s;
}

.portfolio-modal.opened {
    transform: translateX(0);
}

.portfolio-modal__inner {
    background: transparent;
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 0px;
    color: var(--clr-light);
    box-shadow: var(--bs);
}

@media (min-width: 700px) {
    .portfolio-modal__inner {
        height: 90vh;
        max-height: 90vh;
        margin: 3em;
        border-radius: 20px;
    }    
}

.portfolio-modal__top {
    display: flex;
    align-items: center;
    background-color: var(--clr-dark-transparent);
    backdrop-filter: blur(12px);
}

.portfolio-modal__title {
    flex-grow: 1;
    padding: 1em 1.5em;
    font-size: 20px;
}

.portfolio-modal__close {
    color: var(--clr-accent);
    text-shadow: var(--bs);
    padding: 1em 1.5em;
    display: flex;
    align-items: center;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    font-size: 25px;
}

.portfolio-modal__content {
    background: var(--clr-dark);
    padding: 0 1em;
    padding-bottom: 1em;
    line-height: 1.5;
    overflow-y: scroll;
}

.portfolio-modal__content p {
    max-width: 80%;
    padding: .3em 0;
    margin: 0 auto;
}

.portfolio-modal__content img {
    max-width: 90%;
    padding: .3em 0;
    margin: 0 auto;
}

.portfolio-modal__bottom {
    background: var(--clr-dark);
    backdrop-filter: blur(12px);
    text-align: center;
    padding: 1em;
}

.portfolio-modal__button {
    border: none;
}