<section class="about-me" id="about">
    <div class="about-me__contents">
        <div class="lang lang__en">
            <h2 class="section__title section__title--about hidden">Who am I</h2>
            <p class="section__subtitle section__subtitle--about hidden">Graphics Programmer and Game Developer since 2018</p>
    
            <div class="about-me__body hidden">
                <p>I started developing games in 2018, focusing on the technical aspects of development. My first game was written in <strong>Java</strong>, in a Game Engine made by me, using <strong>OpenGL</strong>. However, I quickly realized that my favorite aspects of game development are the <strong>visual and creative</strong> processes. With that in mind, I began looking for ways to optimize the development process.</p>
                <p>To that end, and with the knowledge I had gained from using <strong>Graphics APIs</strong>, I started using established Game Engines, specifically <strong>Unity</strong> and <strong>Godot</strong>, and I continue using them to this day, for their simplicity, practicality, and ease of development. I find great joy in writing <strong>shaders</strong> to create complex <strong>Visual Effects</strong> and simulations with these tools. When I'm not using a Game Engine, <strong>Rust</strong> and <strong>C/C++</strong> are my languages of choice for general-purpose programming.</p>
                <p>I currently work as a <strong>Technical Artist</strong> for a <strong>Medical Technology</strong> company, developing <strong>complex Visual Effects and Compute Shader simulations</strong> for <strong>Virtual Reality</strong> using the <strong>Unity Game Engine</strong>. I'm also finishing my <strong>Bachelor's Degree in Computer Science at the University of São Paulo</strong>, one of the best universities in Latin America, with a strong focus on <strong>Graphics Programming</strong>.</p>
            </div>
            <p class="section__subtitle section__subtitle--about hidden">Technologies I use</p>
        </div>

        <div class="lang lang__pt">
            <h2 class="section__title section__title--about hidden">Quem eu sou</h2>
            <p class="section__subtitle section__subtitle--about hidden">Designer e desenvolvedor de jogos desde 2018</p>

            <div class="about-me__body hidden">
                <p>Comecei a desenvolver jogos em 2018, focando na parte técnica do desenvolvimento. Meu primeiro jogo foi feito em <strong>Java</strong>, com uma engine feita por mim mesmo, utilizando <strong>OpenGL</strong>. Rapidamente percebi que meu aspecto preferido do desenvolvimento de jogos era a parte <strong>criativa e visual</strong> dos jogos, e, com isso em mente, fui buscar formas de acelerar meu desenvolvimento.</p>
                <p>Para isso, comecei a utilizar a engine <strong>Godot</strong>, e permaneço com ela até hoje, por sua simplicidade, praticidade, e, claro, por ser sfotware livre. Quando não estou utilizando a Godot, <strong>Rust</strong> é minha linguagem de escolha para programação no geral.</p>
                <p>Também desenvolvo outros tipos de software, com <strong>programas de linha de comando</strong> para Linux e <strong>aplicações de desktop</strong>, além de <strong>desenvolvimento web</strong>, como este site.</p>
                <p>Atualmente, sou estudante do <strong>Bacharelado em Ciência da Computação na Universidade de São Paulo</strong>, cursando o quinto período.</p>
            </div>

            <p class="section__subtitle section__subtitle--about hidden">Tecnologias que utilizo</p>
        </div>
        
        <ul class="technologies-list">
            <li class="technologies-list__item hidden">
                <img src="../img/unity-icon.svg" alt="" class="technologies-list__icon">
            </li>
            <li class="technologies-list__item hidden">
                <img src="../img/godot-icon.svg" alt="" class="technologies-list__icon">
            </li>
            <li class="technologies-list__item hidden">
                <img src="../img/rust-icon.svg" alt="" class="technologies-list__icon">
            </li>
            <li class="technologies-list__item hidden">
                <img src="../img/bash-icon.svg" alt="" class="technologies-list__icon">
            </li>
            <li class="technologies-list__item hidden">
                <img src="../img/html-icon.svg" alt="" class="technologies-list__icon">
            </li>
            <li class="technologies-list__item hidden">
                <img src="../img/css-icon.svg" alt="" class="technologies-list__icon">
            </li>
            <li class="technologies-list__item hidden">
                <img src="../img/js-icon.svg" alt="" class="technologies-list__icon">
            </li>
        </ul>
    </div>
</section>