<section class="intro lang lang__en" id="home">
    <h1 class="section__title section__title--intro hidden">
        Hi! My name is <strong>Pedro Schneider</strong>
    </h1>
    <p class="section__subtitle section__subtitle--intro hidden">Game developer</p>

    <img src="../img/ps-logo1-white.png" alt="My logo" class="intro__img hidden">
</section>

<section class="intro lang lang__pt" id="home">
    <h1 id="lang_intro_greeting" class="section__title section__title--intro hidden">
        Olá, meu nome é <strong>Pedro Schneider</strong> 
    </h1>
    <p id="lang_intro_gameDeveloper" class="section__subtitle section__subtitle--intro hidden">Desenvolvedor de jogos</p>
    <img src="../img/ps-logo1-white.png" alt="My logo" class="intro__img hidden">
</section>