<section class="my-services lang lang__en" id="services">
    <h2 class="section__title section__title--services hidden">What I do</h2>
    <div class="services">
        <div class="service hidden">
            <h3>Game Design and Development</h3>
            <p>I develop games for fun since 2018. I started out learning by myself in high school, but, after falling in love with game development, I decided to get a Bachelor's degree in Computer Science at the University of São Paulo to sharpen my knowledge, especially in Graphics Programming.</p>
        </div>
        
        <div class="service hidden">
            <h3>Graphics Programming</h3>
            <p>In the scope of game development, one of the areas that always fascinated me is Graphics Programming. Because of that, I started learning by making my own games and engines from scratch using OpenGL, and then moving on to more established frameworks with the knowledge I had gained.</p>
        </div>
        
        <div class="service hidden">
            <h3>Technical Art</h3>
            <p>While looking for a way to follow my passion for Graphics Programming professionally, I discovered the field of Technical Art, and that's what I've been doing since. I find great joy in working with amazing artists and developers, acting as the bridge between these two, at a first glance, diametrically opposed worlds.</p>
        </div>
    </div>
    
    <a href="#work" class="btn hidden">my projects</a>
</section>

<section class="my-services lang lang__pt" id="services">
    <h2 class="section__title section__title--services hidden">O que eu faço</h2>
    <div class="services">
        <div class="service hidden">
            <h3>Design e desenvolvimento de jogos</h3>
            <p>Desde 2018 desenvolvo jogos por diversão. Comecei aprendendo sozinho durante o ensino médio, mas, depois de me apaixonar pela área, decidi buscar ensino superior na USP em Ciência da Computação para aprofundar meus conhecimentos, especialmente na área de Computação Gráfica.</p>
        </div>

        <div class="service hidden">
            <h3>Computação Gráfica</h3>
            <p>Dentro de desenvolvimento de jogos, uma área que sempre me encantou foi a Computação Gráfica. Por conta disso, eu comecei a aprender fazendo jogos e engines próprias usando OpenGL, e, depois, utilizando ferramentas mais bem estabelecidas com o conhecimento que havia adiquirido.</p>
        </div>

        <div class="service hidden">
            <h3>Arte Técnica</h3>
            <p>Enquanto procurava formas de aplicar profissionalmente minha paixão por Computação Gráfica, descobri a especialidade da Arte Técnica, e é com isso que tenho trabalhado desde então. Eu tenho o prazer enorme de trabalhar com grandes artistas e desenvolvedores, agindo como a ponte entre estes dois mundos muitas vezes vistos como opostos.</p>
        </div>
    </div>

    <a href="#work" class="btn hidden">meus projetos</a>
</section>