<section class="my-services lang lang__en" id="services">
    <h2 class="section__title section__title--services hidden">What I do</h2>
    <div class="services">
        <div class="service hidden">
            <h3>Game Design and Development</h3>
            <p>I develop games for fun since 2018. I started out learning by myself in high school, but, after falling in love with game development, I decided to get a Bachelor's degree in Computer Science at the University of São Paulo to sharpen my knowledge, especially in graphics programming</p>
        </div>
        
        <div class="service hidden">
            <h3>Game narrative design</h3>
            <p>In the scope of game development, one of the areas that always fascinated me is narrative design. The huge expressiveness and interactivity present in games has a huge potential for great storytelling</p>
        </div>
        
        <div class="service hidden">
            <h3>Software development</h3>
            <p>In addition to game development, I am also a software developer in general, encompassing command line tools for Linux system, with Bash and Rust, as well as desktop and Web app development, such as this website</p>
        </div>
    </div>
    
    <a href="#work" class="btn hidden">my projects</a>
</section>

<section class="my-services lang lang__pt" id="services">
    <h2 class="section__title section__title--services hidden">O que eu faço</h2>
    <div class="services">
        <div class="service hidden">
            <h3>Design e desenvolvimento de jogos</h3>
            <p>Desde 2018 desenvolvo jogos por diversão. Comecei aprendendo sozinho durante o ensino médio, mas, depois de me apaixonar pela área, decidi buscar ensino superior na USP em Ciência da Computação para aprofundar meus conhecimentos, especialmente na área de computação gráfica.</p>
        </div>

        <div class="service hidden">
            <h3>Design de narrativa para jogos</h3>
            <p>Dentro de desenvolvimento de jogos, uma área que sempre me encantou foi o design de narrativas. A grande expressividade e interatividade presente em jogos tem um excelente potencial para contar ótimas histórias.</p>
        </div>

        <div class="service hidden">
            <h3>Desenvolvimento de software</h3>
            <p>Além de jogos, também sou desenvolvedor de software no geral, englobando tanto ferramentas de linha de comando para sistemas Linux, com Bash e Rust, quanto desenvolvimento de aplicações para Desktop e Web, como este site.</p>
        </div>
    </div>

    <a href="#work" class="btn hidden">meus projetos</a>
</section>