<section class="my-work" id="work">
    <h2 class="section__title section__title--work hidden lang lang__en">My work</h2>
    <p class="section__subtitle section__subtitle--work hidden lang lang__en">A selection of my best projects</p>

    <h2 class="section__title section__title--work lang lang__pt">Meus projetos</h2>
    <p class="section__subtitle section__subtitle--work lang lang__pt">Uma seleção de meus melhores trabalhos</p>

    <div class="portfolio">
        <!-- Portfolio item: Ultrasound -->
        <include src="../components/sections/portfolio-items/ultrasound.html"></include>
        <!-- Portfolio item: Fluid Simulation -->
        <include src="../components/sections/portfolio-items/fluid-sim.html"></include>
        <!-- Portfolio item: Custom Decal -->
        <include src="../components/sections/portfolio-items/decal.html"></include>
        <!-- Portfolio item: X-ray Effect -->
        <include src="../components/sections/portfolio-items/xray.html"></include>
        <!-- Portfolio item: Custom Outline -->
        <include src="../components/sections/portfolio-items/outline.html"></include>
        <!-- Portfolio item: Shader Fractals -->
        <include src="../components/sections/portfolio-items/shader-fractals.html"></include>
        <!-- Portfolio item: Pulsar -->
        <include src="../components/sections/portfolio-items/pulsar.html"></include>
        <!-- Portfolio item: Creative Coding -->
        <include src="../components/sections/portfolio-items/creative-coding.html"></include>
        <!-- Portfolio item: Alfabetiza -->
        <!-- <include src="../components/sections/portfolio-items/alfabetiza.html"></include> -->
        <!-- Portfolio item: Totally Accurate Attack on Titan Simulator -->
        <!-- <include src="../components/sections/portfolio-items/taaots.html"></include> -->
    </div>
        
</section>