<footer class="footer">
    <a href="mailto:pedrotrschneider@gmail.com" target="_blank" class="footer__link hidden">pedrotrschneider@gmail.com</a>
    <ul class="social-list">
        <li class="social-list__item hidden">
            <a href="https://gitlab.com/pedrotrschneider" target="_blank" class="social-list__link">
                <i class="fab fa-gitlab"></i>
            </a>
        </li>
        <li class="social-list__item hidden">
            <a href="https://github.com/pedrotrschneider" target="_blank" class="social-list__link">
                <i class="fab fa-github"></i>
            </a>
        </li>
        <li class="social-list__item hidden">
            <a href="https://pedrotrschneider.itch.io/" target="_blank" class="social-list__link">
                <i class="fab fa-itch-io"></i>
            </a>
        </li>
        <li class="social-list__item hidden">
            <a href="https://linkedin.com/in/pedro-schneider-485b97261" target="_blank" class="social-list__link">
                <i class="fab fa-linkedin"></i>
            </a>
        </li>
    </ul>
    <p class="footer__copyright hidden"><strong>Layout & Code</strong>: Copyright <strong>©</strong> 2022-2023 <strong>Pedro Schneider</strong> via <strong>GPL-3.0</strong></p>
</footer>