<header class="lang lang__en">
    <div class="logo">
        <img src="/img/ps-logo1-long-white.png" alt="">
    </div>
    <button class="nav-toggle" aria-label="toggle navigation">
        <span class="hamburger"></span>
    </button>
    <nav class="nav">
        <ul class="nav__list">
            <li class="nav__item"><a href="#home" class="nav__link">Home</a></li>
            <li class="nav__item"><a href="#services" class="nav__link">What I do</a></li>
            <li class="nav__item"><a href="#about" class="nav__link">Who am I</a></li>
            <li class="nav__item"><a href="#work" class="nav__link">My projects</a></li>
        </ul>
    </nav>
</header>

<header class="lang lang__pt">
    <div class="logo">
        <img src="/img/ps-logo1-long-white.png" alt="">
    </div>
    <button class="nav-toggle" aria-label="toggle navigation">
        <span class="hamburger"></span>
    </button>
    <nav class="nav">
        <ul class="nav__list">
            <li class="nav__item"><a id="lang_nav_home" href="#home" class="nav__link">Home</a></li>
            <li class="nav__item"><a id="lang_nav_services" href="#services" class="nav__link">O que eu faço</a></li>
            <li class="nav__item"><a id="lang_nav_about" href="#about" class="nav__link">Quem eu sou</a></li>
            <li class="nav__item"><a id="lang_nav_work" href="#work" class="nav__link">Meus projetos</a></li>
        </ul>
    </nav>
</header>