<div class="logos-animation">
    <div class="row repeat">
        <div class="column">
            <i class="fa-solid fa-fire-flame-curved"></i>
            <i class="fa-solid fa-gamepad"></i>
            <i class="fa-solid fa-diamond"></i>
            <i class="fa-solid fa-puzzle-piece"></i>
            <i class="fa-solid fa-dice"></i>
            <i class="fa-solid fa-headset"></i>
            <i class="fa-solid fa-trophy"></i>
            <i class="fa-solid fa-dice-d20"></i>
            <i class="fa-solid fa-hat-wizard"></i>
            <i class="fa-solid fa-chess-queen"></i>
            <i class="fa-solid fa-scroll"></i>
            <i class="fa-solid fa-dragon"></i>
            <i class="fa-solid fa-heart"></i>
            <i class="fa-solid fa-ghost"></i>
            <i class="fa-solid fa-chess-knight"></i>
            <i class="fa-solid fa-shield-halved"></i>
            <i class="fa-solid fa-dungeon"></i>
            <i class="fa-solid fa-chess-rook"></i>
            <i class="fa-solid fa-wand-sparkles"></i>
            <i class="fa-solid fa-chess-king"></i>
            <i class="fa-solid fa-ring"></i>
            <i class="fa-solid fa-vr-cardboard"></i>
            <i class="fa-solid fa-fire-flame-curved"></i>
            <i class="fa-solid fa-gamepad"></i>
            <i class="fa-solid fa-diamond"></i>
            <i class="fa-solid fa-puzzle-piece"></i>
            <i class="fa-solid fa-dice"></i>
            <i class="fa-solid fa-headset"></i>
            <i class="fa-solid fa-trophy"></i>
            <i class="fa-solid fa-dice-d20"></i>
            <i class="fa-solid fa-hat-wizard"></i>
            <i class="fa-solid fa-chess-queen"></i>
            <i class="fa-solid fa-scroll"></i>
            <i class="fa-solid fa-dragon"></i>
            <i class="fa-solid fa-heart"></i>
            <i class="fa-solid fa-ghost"></i>
            <i class="fa-solid fa-chess-knight"></i>
            <i class="fa-solid fa-shield-halved"></i>
            <i class="fa-solid fa-dungeon"></i>
            <i class="fa-solid fa-chess-rook"></i>
            <i class="fa-solid fa-wand-sparkles"></i>
            <i class="fa-solid fa-chess-king"></i>
            <i class="fa-solid fa-ring"></i>
            <i class="fa-solid fa-vr-cardboard"></i>
        </div>
        <div class="column">
            <i class="fa-solid fa-fire-flame-curved"></i>
            <i class="fa-solid fa-gamepad"></i>
            <i class="fa-solid fa-diamond"></i>
            <i class="fa-solid fa-puzzle-piece"></i>
            <i class="fa-solid fa-dice"></i>
            <i class="fa-solid fa-headset"></i>
            <i class="fa-solid fa-trophy"></i>
            <i class="fa-solid fa-dice-d20"></i>
            <i class="fa-solid fa-hat-wizard"></i>
            <i class="fa-solid fa-chess-queen"></i>
            <i class="fa-solid fa-scroll"></i>
            <i class="fa-solid fa-dragon"></i>
            <i class="fa-solid fa-heart"></i>
            <i class="fa-solid fa-ghost"></i>
            <i class="fa-solid fa-chess-knight"></i>
            <i class="fa-solid fa-shield-halved"></i>
            <i class="fa-solid fa-dungeon"></i>
            <i class="fa-solid fa-chess-rook"></i>
            <i class="fa-solid fa-wand-sparkles"></i>
            <i class="fa-solid fa-chess-king"></i>
            <i class="fa-solid fa-ring"></i>
            <i class="fa-solid fa-vr-cardboard"></i>
            <i class="fa-solid fa-fire-flame-curved"></i>
            <i class="fa-solid fa-gamepad"></i>
            <i class="fa-solid fa-diamond"></i>
            <i class="fa-solid fa-puzzle-piece"></i>
            <i class="fa-solid fa-dice"></i>
            <i class="fa-solid fa-headset"></i>
            <i class="fa-solid fa-trophy"></i>
            <i class="fa-solid fa-dice-d20"></i>
            <i class="fa-solid fa-hat-wizard"></i>
            <i class="fa-solid fa-chess-queen"></i>
            <i class="fa-solid fa-scroll"></i>
            <i class="fa-solid fa-dragon"></i>
            <i class="fa-solid fa-heart"></i>
            <i class="fa-solid fa-ghost"></i>
            <i class="fa-solid fa-chess-knight"></i>
            <i class="fa-solid fa-shield-halved"></i>
            <i class="fa-solid fa-dungeon"></i>
            <i class="fa-solid fa-chess-rook"></i>
            <i class="fa-solid fa-wand-sparkles"></i>
            <i class="fa-solid fa-chess-king"></i>
            <i class="fa-solid fa-ring"></i>
            <i class="fa-solid fa-vr-cardboard"></i>
        </div>
    </div>
</div>