<!-- Modal Ultrasound -->
<include src="../components/modals/ultrasound.html"></include>
<!-- Modal Fluid Simulation -->
<include src="../components/modals/fluid-sim.html"></include>
<!-- Modal Custom Decal -->
<include src="../components/modals/decal.html"></include>
<!-- Modal X-ray Effect -->
<include src="../components/modals/xray.html"></include>
<!-- Modal Custom Outline -->
<include src="../components/modals/outline.html"></include>
<!-- Modal Shader Fractals -->
<include src="../components/modals/shader-fractals.html"></include>
<!-- Modal Pulsar -->
<include src="../components/modals/pulsar.html"></include>
<!-- Modal Coding Challenges -->
<include src="../components/modals/coding-challenges.html"></include>
<!-- Modal Alfabetiza -->
<!-- <include src="../components/modals/alfabetiza.html"></include> -->
<!-- Modal Totally Accurate Attack on Titan Simulator -->
<!-- <include src="../components/modals/taaots.html"></include> -->