/* Intro section */
.intro {
    width: 100%;
    position: relative;
    pointer-events: none;
}

.intro__img {
    background-color: var(--clr-light-transparent);
    box-shadow: var(--bs);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    bottom: 1em;
}

.section__subtitle--intro {
    display: inline-block;
}

@media (min-width: 700px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        column-gap: 1em;
        grid-template-areas: 
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }

    .intro__img {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }

    .section__subtitle--intro {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }
}