/* My work section */

.my-work {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    text-align: center;
}

.portfolio {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1em;
    margin: 0 auto;
}

.portfolio__item {
    background-color: var(--clr-light);
    overflow: hidden;
    transition: all 750ms;
    cursor: pointer;
}

.portfolio__img {
    min-width: 100%;
    transition: 
    all 750ms cubic-bezier(.5, 0, .5, 1),
    opacity 250ms linear;
}

.portfolio__content-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    
    transform: translateX(-100%);
    opacity: 0;
    transition: all 750ms;
}

.portfolio__project-title,
.portfolio__project-description,
.portfolio__project-cta {
    margin: 1em;
    color: var(--clr-dark);
}

.portfolio__project-description {
    text-align: left;
}

.portfolio__project-cta {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: .5em 0;
    border-radius: 20px;
    background: var(--clr-dark);
    color: var(--clr-accent);
}

.portfolio__item:focus,
.portfolio__item:hover {
    border-radius: 30px;
}

.portfolio__item:focus {
    position: relative;
    z-index: 2;
}

.portfolio__item:hover .portfolio__img,
.portfolio__item:focus .portfolio__img {
    filter: blur(10px);
    transform: scale(1.2);
    opacity: .25;
}

.portfolio__item:hover .portfolio__content-container,
.portfolio__item:focus .portfolio__content-container {
    transform: translateX(0);
    opacity: 1;
}

@media (hover: none) {
    .portfolio__item {
        border-radius: 30px;
    }

    .portfolio__item {
        position: relative;
        z-index: 2;
    }

    .portfolio__item .portfolio__img {
        filter: blur(8px);
        transform: scale(1.2);
        opacity: .25;
    }

    .portfolio__item .portfolio__content-container {
        transform: translateX(0);
        opacity: 1;
    }
}