<div class="portfolio-modal lang lang__en">
    <div class="portfolio-modal__inner">
        <div class="portfolio-modal__top">
            <div class="portfolio-modal__title">
                <h2>Creative Coding</h2>
            </div>
            <button class="portfolio-modal__close">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>
        <div class="portfolio-modal__content">
            <p>One of my favorite aspects of coding is creative coding, working together with computer graphics. Based on that, Daniel Shiffman, from <a href="https://www.youtube.com/@TheCodingTrain">The Coding Train</a> YouTube channel, makes <a href="https://www.youtube.com/playlist?list=PLRqwX-V7Uu6ZiZxtDDRCi6uhfTH4FilpH">Coding Challenges</a> that mix creative coding and computer graphics.</p>
            <p>With the goal of having fun and learning more, I decided to recreate his Coding Challenges using other technologies that I'm more familiar with.</p>

            <p>This is an ongoing project, and the goal is to, eventually, catch up to the over 200 challenges the original project has. I found it to be a great source of learning, both for me and for other people to see how to reach the same result from completely different platforms.</p>

            <h3>Challenge 9: Solar System Part 3</h3>
            <img src="../img/projects/challenges/solar-system.png" alt="">

            <h3>Challenge 12: Lorenz's Attractor</h3>
            <img src="../img/projects/challenges/lorenz-attractor.png" alt="">

            <h3>Challenge 13: Reaction-Diffusion ALgorithm</h3>
            <img src="../img/projects/challenges/capture.gif" alt="">

            <p>The source code for all projects is available in the GitLab repository.</p>
            <ul class="portfolio-modal__links-list">
                <li class="portfolio-modal__link-item">
                    <a href="https://gitlab.com/pedrotrschneider/coding-challenges" target="_blank" class="portfolio-modal__link">
                        <i class="fab fa-gitlab"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="portfolio-modal lang lang__pt">
    <div class="portfolio-modal__inner">
        <div class="portfolio-modal__top">
            <div class="portfolio-modal__title">
                <h2>Programação Criativa</h2>
            </div>
            <button class="portfolio-modal__close">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>
        <div class="portfolio-modal__content">
            <p>Um dos meus aspectos preferidos da computação é a computação criativa, quando trabalha em conjunto com a computação gráfica. É baseado nisso que Daniel Shiffman, do canal do YouTube <a href="https://www.youtube.com/@TheCodingTrain">The Coding Train</a>, realiza seus <a href="https://www.youtube.com/playlist?list=PLRqwX-V7Uu6ZiZxtDDRCi6uhfTH4FilpH">Coding Challenges</a>.</p>
            <p>Com objetivos de aprendizado e aprendizado e diversão eu decidi recriar os projetos que ele desenvolve nessa série utilizando outras tecnologias. Para os desafios feitos em 2D.</p>

            <p>Este é um projeto em desenvolvimento, e o objetivo é eventualmente alcançar os mais de 200 desafios que o projeto original possui. É uma excelente forma de aprendizado, tanto para mim quanto para outras pessoas verem como chegar ao mesmo resultado utilizando pltaformas completamente diferentes.</p>

            <h3>Desafio 9: Sistema Solar Parte 3</h3>
            <img src="../img/projects/challenges/solar-system.png" alt="">

            <h3>Desafio 12: Atrator de Lorenz</h3>
            <img src="../img/projects/challenges/lorenz-attractor.png" alt="">

            <h3>Desafio 13: Algoritmo de Reação de Difusão</h3>
            <img src="../img/projects/challenges/capture.gif" alt="">

            <p>O código fonte de todos os projetos pode ser encontrado no repositório do GitLab.</p>
            <ul class="portfolio-modal__links-list">
                <li class="portfolio-modal__link-item">
                    <a href="https://gitlab.com/pedrotrschneider/coding-challenges" target="_blank" class="portfolio-modal__link">
                        <i class="fab fa-gitlab"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>