<div class="portfolio-modal lang lang__en">
    <div class="portfolio-modal__inner">
        <div class="portfolio-modal__top">
            <div class="portfolio-modal__title">
                <h2>Custom Decal</h2>
            </div>
            <p>scroll to see more!</p>
            <button class="portfolio-modal__close">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>
        <div class="portfolio-modal__content">
            <h3>A custom fake Decal effect that can be used in any mesh, with no need for actual Decals.</h3>
            
            <iframe src="https://drive.google.com/file/d/1BQq7wotFSw5QtDWJG9mqK1a7gSLLw5II/preview" allow="autoplay"></iframe>

            <p>I originally developed this effect to simulate blood on medical tools as they become dirty. The problem we faced at the time was that the target hardware for the project didn't support actual decals, so I had to fake them.</p>

            <p>My approach ended up being so effective that from then on, we used my solution whenever we could.</p>

            <h3>Technical Overview</h3>

            <p>The effect works by overlaying a second material on top of the original object, giving the impression of a decal over it.</p>

            <p>The visual aspects of the blood were made by layering three different parts: a flat plane where everything below became red; a thin layer of noise right on top of the plane; and a texture the user can supply to have some more artistic control over the result.</p>

            <p>All of these changes get applied to the normals as well, to give the impression that there's a layer of blood over the tool.</p>
        </div>
    </div>
</div>

<div class="portfolio-modal lang lang__pt">
    <div class="portfolio-modal__inner">
        <div class="portfolio-modal__top">
            <div class="portfolio-modal__title">
                <h2>Alfabetiza</h2>
            </div>
            <button class="portfolio-modal__close">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>
        <div class="portfolio-modal__content">
            <h3>Um jogo educacional para alfabetização de crianças na língua portuguesa</h3>
            <img src="../img/projects/alfabetiza/interface2.png" alt="">
            
            <p>Este jogo foi desenvolvido em parceria com a Faculdade de Educação da Universidade de São Paulo (FEUSP) e o Instituto de Matemática e Estatística da Universidade de São Paulo (IME-USP).</p>
            <p>Ele tem como objetivo ser uma plataforma voltada para a alfabetização de crianças na língua portuguesa.</p>
            
            <h3>Gameplay</h3>
            <p>O jogo consiste em uma coletânia de mini-jogos, cada um explorando um aspecto diferente da língua portuguesa. O aprendizado é desenvolvido por meio de interações baseadas em imagens, em textos e em áudios, para garantir um desenvolvimento abrangente das habilidades de comunicação da criança.</p>
            
            <p>Além disso, há um sistema de login para ser utilizado em sala de aula. Dessa forma, o desempenho dos alunos nos minijogos ficam registrados, e podem ser analisados pelo educador posteriormente, com o objetivo de identificar dificuldades em áreas específicas.</p>
            <img src="../img/projects/alfabetiza/interface1.png" alt="">
            <p>Versões do jogo sem login também podem ser utilizadas para testes, ocasiões que não permitam acesso à internet, ou quando o acompanhamento individual não é necessário.</p>
            
            <h3>Cenário</h3>
            <p>O jogo como um todo está situado em um cenário baseado em lendas tradicionais indígenais brasileiras. Os minijogos são divididos entre os quatro elementos: Terra, Água, Fogo e Ar.</p>
            <p>Cada um dos elementos é baseado em alguma lenda indígena, que pode ser ouvida após completar o primeiro mini-jogo de cada elemento.</p>
            <img src="../img/projects/alfabetiza/myth3.png" alt="">
            
            <p>Mais informações podem ser encontradas no repositório do projeto no GitLab, e na documentação oficial.</p>
            <ul class="portfolio-modal__links-list">
                <li class="portfolio-modal__link-item">
                    <a href="https://gitlab.com/pedrotrschneider/alfabetiza-godot" target="_blank" class="portfolio-modal__link">
                        <i class="fab fa-gitlab"></i>
                    </a>
                </li>
                <li>
                    <a href="https://pedrotrschneider.github.io/alfabetiza-book/index.html" target="_blank" class="portfolio-modal__link">
                        <i class="fa-solid fa-book"></i>
                    </a>
                </li>
            </ul>
            
            <p>O jogo está disponível para Web, Windows, Linux e Android, e pode ser jogado no navegador em sua página na itch.io. Todos os tipos de builds do jogo para todas as plataformas estão disponíveis no repositório de builds no GitLab.</p>
            <ul class="portfolio-modal__links-list">
                <li>
                    <a href="https://pedrotrschneider.itch.io/alfabetiza" target="_blank" class="portfolio-modal__link">
                        <i class="fab fa-itch-io"></i>
                    </a>
                </li>
                <li class="portfolio-modal__link-item">
                    <a href="https://gitlab.com/pedrotrschneider/alfabetiza-builds" target="_blank" class="portfolio-modal__link">
                        <i class="fab fa-gitlab"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>