<div class="portfolio-modal lang lang__en">
    <div class="portfolio-modal__inner">
        <div class="portfolio-modal__top">
            <div class="portfolio-modal__title">
                <h2>Pulsar</h2>
            </div>
            <button class="portfolio-modal__close">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>
        <div class="portfolio-modal__content">
            <img src="/img/projects/pulsar/banner-big.gif" alt="Baner do pulsar">

            <p>This game was developed by a team of colleagues from my University's game development group, USP Game Dev, over the course of 72 hours, for the Ludum Dare 51 game jam.</p>
            <p>It's a base-building, strategy, and survival game, based on a futuristic scenery.</p>

            <h3>Plot</h3>
            <p>Hundreds of years after exhausting the natural resources of their home planet, Sunset, humanity travels through the cosmos in the direction of what seems to be their last hope.</p>
            <p>Planets orbiting the star PSR B1257+L13 emit a mysterious pulsating light that brightens the way for the last colonies to find refuge on these planets' rocky surfaces.</p>
            <p>As they approach, the people of Sunset are amazed. The amount of energy emitted by these pulses might be just enough to sustain all their ships and colonies!</p>

            <h3>Gameplay</h3>
            <p>It's based on the construction of power plants to generate energy for several different buildings in the colony.</p>
            <img src="/img/projects/pulsar/bases.gif" alt="Gif dos tipos de bases">
            <img src="/img/projects/pulsar/img1.jpg" alt="Imagem 1 do pulsar">
            <img src="/img/projects/pulsar/img2.jpg" alt="Imagem 2 do pulsar">
            
            <p>The source code and all of the assets are available in the GitLab repository, and builds for Windows, Linux, and Mac are available at the game's page on Ludum Dare 51's official site.</p>
            <ul class="portfolio-modal__links-list">
                <li class="portfolio-modal__link-item">
                    <a href="https://gitlab.com/uspgamedev/pulsar" target="_blank" class="portfolio-modal__link">
                        <i class="fab fa-gitlab"></i>
                    </a>
                </li>
                <li class="portfolio-modal__link-item">
                    <a href="https://ldjam.com/events/ludum-dare/51/pulsar" target="_blank" class="portfolio-modal__link">
                        <i class="fa-solid fa-gamepad"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="portfolio-modal lang lang__pt">
    <div class="portfolio-modal__inner">
        <div class="portfolio-modal__top">
            <div class="portfolio-modal__title">
                <h2>Pulsar</h2>
            </div>
            <button class="portfolio-modal__close">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>
        <div class="portfolio-modal__content">
            <img src="/img/projects/pulsar/banner-big.gif" alt="Baner do pulsar">

            <p>Este jogo foi desenvolvido em parceria com colegas meus do grupo de extensão de desenvolvimento de jogos da USP, o USP Game Dev, durante um período de 72 horas para a jam Ludum Dare 51.</p>
            <p>Se trata de um jogo de contrsução de bases, estratégia e sobrevivência em um cenário futurista.</p>

            <h3>Enredo</h3>
            <p>Centenas de anos após acabar com os recursos naturais de seu planeta natal, Sunset, a humanidade viaja pelo cosmos em diração ao que parece ser sua última esperança.</p>
            <p>Planetas orbitando a estrela PSR B1257+L13 emitem um pulso misterioso de luz que serve sinalizador para as últimas colônias encontrarem refúgio nas superfícies rochosas desses planetas.</p>
            <p>Ao se aproximarem, os humanos ficam maravilhados. A energia emitida pelos pulsos parece ser suficiente para sustentar suas naves e colônias.</p>

            <h3>Gameplay</h3>
            <p>Se baseia na construção de estações de geração de energia para fazer funcionar diversas construções em sua colônia.</p>
            <img src="/img/projects/pulsar/bases.gif" alt="Gif dos tipos de bases">
            <img src="/img/projects/pulsar/img1.jpg" alt="Imagem 1 do pulsar">
            <img src="/img/projects/pulsar/img2.jpg" alt="Imagem 2 do pulsar">
            
            <p>O código fonte e todos os assets podem ser encontrados no repositório no GitLab, e builds para Windows, Linux e Mac estão disponíveis na página no jogo no site da Ludum Dare 51.</p>
            <ul class="portfolio-modal__links-list">
                <li class="portfolio-modal__link-item">
                    <a href="https://gitlab.com/uspgamedev/pulsar" target="_blank" class="portfolio-modal__link">
                        <i class="fab fa-gitlab"></i>
                    </a>
                </li>
                <li class="portfolio-modal__link-item">
                    <a href="https://ldjam.com/events/ludum-dare/51/pulsar" target="_blank" class="portfolio-modal__link">
                        <i class="fa-solid fa-gamepad"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>