<div class="portfolio-modal lang lang__en">
    <div class="portfolio-modal__inner">
        <div class="portfolio-modal__top">
            <div class="portfolio-modal__title">
                <h2>Sculpting</h2>
            </div>
            <p>scroll to see more!</p>
            <button class="portfolio-modal__close">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>
        <div class="portfolio-modal__content">
            <h3>A real-time mesh sculpting algorithm made with Compute Shaders in Unity.</h3>
            
            <iframe src="https://drive.google.com/file/d/1HCd5BH8YZaYQW0NK3IIUL5-uNDIhNC2s/preview" allow="autoplay"></iframe>

            <p>This tool is currently under development for an up-and-coming Virtual Reality medical simulation in which the doctor has to drill a portion of the patient's vertebra. This simulator will be presented at an international Medical Technology Congress to potential clients.</p>

            <p>In this project, I'm in charge of the full development of this feature, aside from working with the 3D artists and other developers to integrate it into the simulation.</p>
            
            <h3>Technical Overview</h3>

            <p>The first step is to convert the mesh that needs to be sculpted into a Signed Distance Field (SDF) and store it in a 3D texture for use with the tool. It can be used either with a baked or procedural 3D texture.</p>
            
            <img src="../img/projects/sculpting/sdf1.png" alt="">
            
            <p>Then, a grid of chunks is generated for the procedural mesh. Each chunk has several voxels inside of it and represents a section of the 3D texture. If the user enables this feature, chuk pruning also happens, removing unused chunks to reduce the performance overhead of having too many Game Objects.</p>

            <img src="../img/projects/sculpting/chunks.png" alt="">

            <p>These chunks are then processed by a Compute Shader, and, using the Marching Cubes algorithm, a procedural mesh is generated out of their voxels.</p>

            <img src="../img/projects/sculpting/voxels.png" alt="">
            
            <p>With this structure, sculpting can be done simply by modifying the values of the voxels of each chunk (adding or subtracting) and regenerating the mesh of the chunks that were modified. This is also done in a separate Compute Shader.</p>
            
            <p>The tool also supports volumetric materials to shade the procedural meshes. These materials can be used to better visualize the internal parts of the mesh, or to signal to the doctor areas where they should drill and where they shouldn't.</p>

            <img src="../img/projects/sculpting/volumetric-material.png" alt="">
            <img src="../img/projects/sculpting/guidance-material.png" alt="">
        </div>
    </div>
</div>

<div class="portfolio-modal lang lang__pt">
    <div class="portfolio-modal__inner">
        <div class="portfolio-modal__top">
            <div class="portfolio-modal__title">
                <h2>Alfabetiza</h2>
            </div>
            <button class="portfolio-modal__close">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>
        <div class="portfolio-modal__content">
            <h3>Um jogo educacional para alfabetização de crianças na língua portuguesa</h3>
            <img src="../img/projects/alfabetiza/interface2.png" alt="">
            
            <p>Este jogo foi desenvolvido em parceria com a Faculdade de Educação da Universidade de São Paulo (FEUSP) e o Instituto de Matemática e Estatística da Universidade de São Paulo (IME-USP).</p>
            <p>Ele tem como objetivo ser uma plataforma voltada para a alfabetização de crianças na língua portuguesa.</p>
            
            <h3>Gameplay</h3>
            <p>O jogo consiste em uma coletânia de mini-jogos, cada um explorando um aspecto diferente da língua portuguesa. O aprendizado é desenvolvido por meio de interações baseadas em imagens, em textos e em áudios, para garantir um desenvolvimento abrangente das habilidades de comunicação da criança.</p>
            
            <p>Além disso, há um sistema de login para ser utilizado em sala de aula. Dessa forma, o desempenho dos alunos nos minijogos ficam registrados, e podem ser analisados pelo educador posteriormente, com o objetivo de identificar dificuldades em áreas específicas.</p>
            <img src="../img/projects/alfabetiza/interface1.png" alt="">
            <p>Versões do jogo sem login também podem ser utilizadas para testes, ocasiões que não permitam acesso à internet, ou quando o acompanhamento individual não é necessário.</p>
            
            <h3>Cenário</h3>
            <p>O jogo como um todo está situado em um cenário baseado em lendas tradicionais indígenais brasileiras. Os minijogos são divididos entre os quatro elementos: Terra, Água, Fogo e Ar.</p>
            <p>Cada um dos elementos é baseado em alguma lenda indígena, que pode ser ouvida após completar o primeiro mini-jogo de cada elemento.</p>
            <img src="../img/projects/alfabetiza/myth3.png" alt="">
            
            <p>Mais informações podem ser encontradas no repositório do projeto no GitLab, e na documentação oficial.</p>
            <ul class="portfolio-modal__links-list">
                <li class="portfolio-modal__link-item">
                    <a href="https://gitlab.com/pedrotrschneider/alfabetiza-godot" target="_blank" class="portfolio-modal__link">
                        <i class="fab fa-gitlab"></i>
                    </a>
                </li>
                <li>
                    <a href="https://pedrotrschneider.github.io/alfabetiza-book/index.html" target="_blank" class="portfolio-modal__link">
                        <i class="fa-solid fa-book"></i>
                    </a>
                </li>
            </ul>
            
            <p>O jogo está disponível para Web, Windows, Linux e Android, e pode ser jogado no navegador em sua página na itch.io. Todos os tipos de builds do jogo para todas as plataformas estão disponíveis no repositório de builds no GitLab.</p>
            <ul class="portfolio-modal__links-list">
                <li>
                    <a href="https://pedrotrschneider.itch.io/alfabetiza" target="_blank" class="portfolio-modal__link">
                        <i class="fab fa-itch-io"></i>
                    </a>
                </li>
                <li class="portfolio-modal__link-item">
                    <a href="https://gitlab.com/pedrotrschneider/alfabetiza-builds" target="_blank" class="portfolio-modal__link">
                        <i class="fab fa-gitlab"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>