<div class="portfolio-modal lang lang__en">
    <div class="portfolio-modal__inner">
        <div class="portfolio-modal__top">
            <div class="portfolio-modal__title">
                <h2>Shader Fractals</h2>
            </div>
            <button class="portfolio-modal__close">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>
        <div class="portfolio-modal__content">
            <p>This project is a collection of GLSL shaders to render 2D and 3D fractals using Ray Marching</p>
            <p>The project consists of both the source code for the shaders, as well as mathematical explanations behind de creation and rendering of the geometric shapes.</p>
            <p>The modular way in which the code has been written allows for easy modification to generate a wide range of different fractals.</p>

            <h3>Mandelbrot's Set</h3>
            <p>Visualization of one of the most famous fractals, based on Mandelbrot's Set.</p>
            <img src="../img/projects/shader-fractals/mandelbrot_set.gif" alt="Gif do Conjunto de Mandelbrot gerado pelos shaders">
            
            <h3>Julia's Set</h3>
            <p>One of the many visualizations of Julia's Set, described by the French mathematician Gaston Julia.</p>
            <img src="../img/projects/shader-fractals/julia_set_1.png" alt="Imagem de um Conjunto de Julia gerado pelos shaders">
            
            <h3>Menger's Mushroom</h3>
            <p>Fractal created by me, using the 3D rendering shader, named after its resemblance to Menger's Sponge fractal.</p>
            <img src="../img/projects/shader-fractals/menger_mushroom.gif" alt="Gif do Cogumelo de Menger gerado pelos shaders">
            
            <h3>Menger's Broccoli</h3>
            <p>Fractal created by me, using the 3D rendering shader, named after its resemblance to Menger's Sponge fractal.</p>
            <img src="../img/projects/shader-fractals/menger_brocolli.gif" alt="Imagem de um conjunto de Julia gerado pelos shaders">
            
            <p>These and many other fractals, along with their descriptions and histories, are available with the source code of the project.</p>
            <ul class="portfolio-modal__links-list">
                <li class="portfolio-modal__link-item">
                    <a href="https://github.com/pedrotrschneider/shader-fractals" target="_blank" class="portfolio-modal__link">
                        <i class="fab fa-github"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="portfolio-modal lang lang__pt">
    <div class="portfolio-modal__inner">
        <div class="portfolio-modal__top">
            <div class="portfolio-modal__title">
                <h2>Shaders de fractais</h2>
            </div>
            <button class="portfolio-modal__close">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>
        <div class="portfolio-modal__content">
            <p>Este projeto se trata de uma coletânea de shaders em GLSL que renderizam fractais 2D e 3D.</p>
            <p>Ele consiste do código fonte dos shaders, além de breves explicações sobre a matemática por trás da criação e renderzação das formas geométricas.</p>
            <p>A forma modular na qual o código foi estruturado permite fácil modificação para gerar os mais diversos fractais.</p>

            <h3>Conjunto de Mandelbrot</h3>
            <p>Visualização de um dos mais famosos fractais, baseado no Conjunto de Mandelbrot.</p>
            <img src="../img/projects/shader-fractals/mandelbrot_set.gif" alt="Gif do Conjunto de Mandelbrot gerado pelos shaders">
            
            <h3>Conjunto de Julia</h3>
            <p>Uma das possíveis visualizações do Conjunto de Julia, descrito pelo matemático francês Gaston Julia.</p>
            <img src="../img/projects/shader-fractals/julia_set_1.png" alt="Imagem de um Conjunto de Julia gerado pelos shaders">
            
            <h3>Cogumelo de Menger</h3>
            <p>Fractal criado por mim, utilizando o shader de renderização de fractais 3D, nomeado por sua semelhança ao fractal Esponja de Menger.</p>
            <img src="../img/projects/shader-fractals/menger_mushroom.gif" alt="Gif do Cogumelo de Menger gerado pelos shaders">
            
            <h3>Brocolli de Menger</h3>
            <p>Fractal criado por mim, utilizando o shader de renderização de fractais 3D, nomeado por sua semelhança ao fractal Esponja de Menger.</p>
            <img src="../img/projects/shader-fractals/menger_brocolli.gif" alt="Imagem de um conjunto de Julia gerado pelos shaders">
            
            <p>Estes e outros fractais, com suas descrições e histórias, estão disponíveis junto com o código fonte.</p>
            <ul class="portfolio-modal__links-list">
                <li class="portfolio-modal__link-item">
                    <a href="https://github.com/pedrotrschneider/shader-fractals" target="_blank" class="portfolio-modal__link">
                        <i class="fab fa-github"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>