<div class="portfolio-modal lang lang__en">
    <div class="portfolio-modal__inner">
        <div class="portfolio-modal__top">
            <div class="portfolio-modal__title">
                <h2>Totally Accurate Attack on Titan Simulator</h2>
            </div>
            <button class="portfolio-modal__close">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>
        <div class="portfolio-modal__content">
            <p>This game was developed over the course of one week for the Chocolate Game Jam, using the Godot Game Engine.</p>
            <p>All the source code and assets for the game were made in the week of the jam.</p>
            <p>The main idea of the game was the simulation of the 3D maneuver system, as shown in the anime, for movement and combat.</p>
            <p>To that end, a big part of the default functionality of Godot's Physics system had to be re-written to accommodate the movement system I wanted to implement.</p>
            <p>The game features a complete tutorial, teaching the player how to use the game's movement system, in addition to an infinite arcade mode in which the player has to survive as long as they can, or kill as many titans as they can.</p>
            <p>It has over 8 thousand views and over 2.5 thousand downloads on itch.io.</p>

            <h3>Tutorial</h3>
            <img src="../img/projects/taaots/tutorial.png" alt="Imagem do tutorial">

            <h3>Arcade Mode</h3>
            <img src="../img/projects/taaots/arcade1.png" alt="Imagem do modo arcade">
            <img src="../img/projects/taaots/arcade2.png" alt="Imagem do modo arcade">
            <img src="../img/projects/taaots/arcade3.png" alt="Imagem do modo arcade">
            <img src="../img/projects/taaots/arcade4.png" alt="Imagem do modo arcade">
            
            <p>All of the source code and assets from the game are available on GitLab, and builds for Windows, Linux, and Mac are available on itch.io.</p>
            <ul class="portfolio-modal__links-list">
                <li class="portfolio-modal__link-item">
                    <a href="https://gitlab.com/pedrotrschneider/totaly-accurate-attack-on-titan-simulator" target="_blank" class="portfolio-modal__link">
                        <i class="fab fa-gitlab"></i>
                    </a>
                </li>
                <li>
                    <a href="https://pedrotrschneider.itch.io/totally-accurate-attack-on-titan-simulator" target="_blank" class="portfolio-modal__link">
                        <i class="fab fa-itch-io"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="portfolio-modal lang lang__pt">
    <div class="portfolio-modal__inner">
        <div class="portfolio-modal__top">
            <div class="portfolio-modal__title">
                <h2>Totally Accurate Attack on Titan Simulator</h2>
            </div>
            <button class="portfolio-modal__close">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>
        <div class="portfolio-modal__content">
            <p>Este jogo foi feito ao longo de uma semana para a Chocolate Game Jam, utilizando a engine Godot.</p>
            <p>Todo o código e assets do jogo foram feitos por mim ao longo da semana que durou a jam.</p>
            <p>A ideia principal do jogo era a simulação do sistema de manobras em 3D, apresentado no anime, para movimentação e combate.</p>
            <p>Para isso, grande parte da funcionalidade padrão do sistema de física da Godot teve que ser re-escrito para acomodar o sistema de movimentação que eu queria implementar.</p>
            <p>O jogo conta com um tutorial completo ensinando a utilizar o sistema de locomoção do jogo, além de um modo arcade infinito em que se pode tentar sobreviver o máximo possível, ou matar o maior número de titãs possível.</p>
            <p>Ele possui quase 8 mil visualizações e mais de 2.5 mil downloads na itch.io.</p>

            <h3>Tutorial</h3>
            <img src="../img/projects/taaots/tutorial.png" alt="Imagem do tutorial">

            <h3>Modo Arcade</h3>
            <img src="../img/projects/taaots/arcade1.png" alt="Imagem do modo arcade">
            <img src="../img/projects/taaots/arcade2.png" alt="Imagem do modo arcade">
            <img src="../img/projects/taaots/arcade3.png" alt="Imagem do modo arcade">
            <img src="../img/projects/taaots/arcade4.png" alt="Imagem do modo arcade">
            
            <p>Todo o código fonte e assets do jogo estão disponíveis no GitLab, e builds para Windows, Linux e Mac estão disponíveis na página do jogo na itch.io.</p>
            <ul class="portfolio-modal__links-list">
                <li class="portfolio-modal__link-item">
                    <a href="https://gitlab.com/pedrotrschneider/totaly-accurate-attack-on-titan-simulator" target="_blank" class="portfolio-modal__link">
                        <i class="fab fa-gitlab"></i>
                    </a>
                </li>
                <li>
                    <a href="https://pedrotrschneider.itch.io/totally-accurate-attack-on-titan-simulator" target="_blank" class="portfolio-modal__link">
                        <i class="fab fa-itch-io"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>