<div class="portfolio__item hidden lang lang__en">
    <div class="portfolio__img-container">
        <img src="/img/projects/alfabetiza/banner.png" alt="portfolio image" class="portfolio__img">
    </div>
    <div class="portfolio__content-container">
        <h3 class="portfolio__project-title">Alfabetiza</h3>
        <p class="portfolio__project-description">An educational game to teach children the Portuguese language.</p>
        <p class="portfolio__project-cta"><strong>Click to learn more!</strong></p>
    </div>
</div>

<div class="portfolio__item hidden lang lang__pt">
    <div class="portfolio__img-container">
        <img src="/img/projects/alfabetiza/banner.png" alt="portfolio image" class="portfolio__img">
    </div>
    <div class="portfolio__content-container">
        <h3 class="portfolio__project-title">Alfabetiza</h3>
        <p class="portfolio__project-description">Um jogo educacional para alfabetização de crianças na língua portuguesa.</p>
        <p class="portfolio__project-cta"><strong>Clique para saber mais!</strong></p>
    </div>
</div>