<div class="portfolio__item hidden lang lang__en">
    <div class="portfolio__img-container">
        <img src="/img/projects/challenges/banner.png" alt="portfolio image" class="portfolio__img">
    </div>
    <div class="portfolio__content-container">
        <h3 class="portfolio__project-title">Creative coding</h3>
        <p class="portfolio__project-description">A collection of creative coding and computer graphics projects.</p>
        <p class="portfolio__project-cta"><strong>Click to learn more!</strong></p>
    </div>
</div>

<div class="portfolio__item hidden lang lang__pt">
    <div class="portfolio__img-container">
        <img src="/img/projects/challenges/banner.png" alt="portfolio image" class="portfolio__img">
    </div>
    <div class="portfolio__content-container">
        <h3 class="portfolio__project-title">Programação Criativa</h3>
        <p class="portfolio__project-description">Coletânia de projetos de programação criativa e computação gráfica.</p>
        <p class="portfolio__project-cta"><strong>Clique para saber mais!</strong></p>
    </div>
</div>