<div class="portfolio__item hidden lang lang__en">
    <div class="portfolio__img-container">
        <img src="../img/projects/decal/banner.png" alt="portfolio image" class="portfolio__img">
    </div>
    <div class="portfolio__content-container">
        <h3 class="portfolio__project-title">Custom Decal</h3>
        <p class="portfolio__project-description">A custom fake Decal effect that can be used in any mesh, with no need for actual Decals.</p>
        <p class="portfolio__project-cta"><strong>Click to learn more!</strong></p>
    </div>
</div>

<div class="portfolio__item hidden lang lang__pt">
    <div class="portfolio__img-container">
        <img src="../img/projects/decal/banner.png" alt="portfolio image" class="portfolio__img">
    </div>
    <div class="portfolio__content-container">
        <h3 class="portfolio__project-title">Decal Cutsomizado</h3>
        <p class="portfolio__project-description">Um efeito de Decal falso que pode ser usado em qualquer mesh, sem serem necessários Decals de verdade.</p>
        <p class="portfolio__project-cta"><strong>Clique para saber mais!</strong></p>
    </div>
</div>