<div class="portfolio__item hidden lang lang__en">
    <div class="portfolio__img-container">
        <img src="../img/projects/fluid-sim/banner.png" alt="portfolio image" class="portfolio__img">
    </div>
    <div class="portfolio__content-container">
        <h3 class="portfolio__project-title">Particle Fluid Simulation</h3>
        <p class="portfolio__project-description">A real-time particle fluid simulation written with Compute Shaders.</p>
        <p class="portfolio__project-cta"><strong>Click to learn more!</strong></p>
    </div>
</div>

<div class="portfolio__item hidden lang lang__pt">
    <div class="portfolio__img-container">
        <img src="../img/projects/fluid-sim/banner.png" alt="portfolio image" class="portfolio__img">
    </div>
    <div class="portfolio__content-container">
        <h3 class="portfolio__project-title">Simulação de Fluidos</h3>
        <p class="portfolio__project-description">Uma simulação de fluidos com partículas em tempo real feita com Compute Shader.</p>
        <p class="portfolio__project-cta"><strong>Clique para saber mais!</strong></p>
    </div>
</div>