<div class="portfolio__item hidden lang lang__en">
    <div class="portfolio__img-container">
        <img src="../img/projects/outline/banner.png" alt="portfolio image" class="portfolio__img">
    </div>
    <div class="portfolio__content-container">
        <h3 class="portfolio__project-title">Custom Outline</h3>
        <p class="portfolio__project-description">A custom outline for Unity's HDRP that supports planar meshes and mesh-masking.</p>
        <p class="portfolio__project-cta"><strong>Click to learn more!</strong></p>
    </div>
</div>

<div class="portfolio__item hidden lang lang__pt">
    <div class="portfolio__img-container">
        <img src="../img/projects/outline/banner.png" alt="portfolio image" class="portfolio__img">
    </div>
    <div class="portfolio__content-container">
        <h3 class="portfolio__project-title">Outline Customizado</h3>
        <p class="portfolio__project-description">Um efeito de outline customizado para o HDRP da Unity que suporta meshes planares e máscaras de meshes.</p>
        <p class="portfolio__project-cta"><strong>Clique para saber mais!</strong></p>
    </div>
</div>