<div class="portfolio__item hidden lang lang__en">
    <div class="portfolio__img-container">
        <img src="../img/projects/pulsar/banner.gif" alt="portfolio image" class="portfolio__img">
    </div>
    <div class="portfolio__content-container">
        <h3 class="portfolio__project-title">Pulsar</h3>
        <p class="portfolio__project-description">A futuristic base-building, strategy survival game.</p>
        <p class="portfolio__project-cta"><strong>Click to learn more!</strong></p>
    </div>
</div>

<div class="portfolio__item hidden lang lang__pt">
    <div class="portfolio__img-container">
        <img src="../img/projects/pulsar/banner.gif" alt="portfolio image" class="portfolio__img">
    </div>
    <div class="portfolio__content-container">
        <h3 class="portfolio__project-title">Pulsar</h3>
        <p class="portfolio__project-description">Um jogo de construção de bases, estratégia e sobrevivência futurístico.</p>
        <p class="portfolio__project-cta"><strong>Clique para saber mais!</strong></p>
    </div>
</div>