<div class="portfolio__item hidden lang lang__en">
    <div class="portfolio__img-container">
        <img src="/img/projects/shader-fractals/banner.png" alt="portfolio image" class="portfolio__img">
    </div>
    <div class="portfolio__content-container">
        <h3 class="portfolio__project-title">Shader Fractals</h3>
        <p class="portfolio__project-description">A collection of GLSL shaders to render 2D and 3D fractals using Ray Marching.</p>
        <p class="portfolio__project-cta"><strong>Click to learn more!</strong></p>
    </div>
</div>

<div class="portfolio__item hidden lang lang__pt">
    <div class="portfolio__img-container">
        <img src="/img/projects/shader-fractals/banner.png" alt="portfolio image" class="portfolio__img">
    </div>
    <div class="portfolio__content-container">
        <h3 class="portfolio__project-title">Shaders de fractais</h3>
        <p class="portfolio__project-description">Uma coletânea de shaders em GLSL que renderizam fractais 2D e 3D.</p>
        <p class="portfolio__project-cta"><strong>Clique para saber mais!</strong></p>
    </div>
</div>