<div class="portfolio__item hidden lang lang__en">
    <div class="portfolio__img-container">
        <img src="../img/projects/ultrasound/banner.png" alt="portfolio image" class="portfolio__img">
    </div>
    <div class="portfolio__content-container">
        <h3 class="portfolio__project-title">Ultrasound Simulation</h3>
        <p class="portfolio__project-description">A realistic real-time Ray-Traced Ultrasound Simulation.</p>
        <p class="portfolio__project-cta"><strong>Click to learn more!</strong></p>
    </div>
</div>

<div class="portfolio__item hidden lang lang__pt">
    <div class="portfolio__img-container">
        <img src="../img/projects/ultrasound/banner.png" alt="portfolio image" class="portfolio__img">
    </div>
    <div class="portfolio__content-container">
        <h3 class="portfolio__project-title">Simulação de Ultrassom</h3>
        <p class="portfolio__project-description">Um simulador realistico de ultrassom em tempo real feito com Ray-Tracing.</p>
        <p class="portfolio__project-cta"><strong>Clique para saber mais!</strong></p>
    </div>
</div>